[submodule "moneykoi-app"]
	path = moneykoi-app
	url = git@github.com:GeraldGmainer/moneykoi-app.git
	branch = main
[submodule "moneykoi-assets"]
	path = moneykoi-assets
	url = git@github.com:GeraldGmainer/moneykoi-assets.git
	branch = main
[submodule "moneykoi-supabase"]
	path = moneykoi-supabase
	url = git@github.com:GeraldGmainer/moneykoi-supabase.git
	branch = main
[submodule "moneykoi-testdata"]
	path = moneykoi-testdata
	url = git@github.com:GeraldGmainer/moneykoi-testdata.git
	branch = main
[submodule "moneykoi-web"]
	path = moneykoi-web
	url = git@github.com:GeraldGmainer/moneykoi-web.git
	branch = main
